* {
  color: #262730;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  src: url("fonts/KGPrimaryItalicsLined.ttf");
  font-family: "KG Primary";
}

@font-face {
  src: url("fonts/homeworkpreschooler.ttf");
  font-family: "Preschooler";
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f5d7bc;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
}

.opening {
  text-align: center;
}

#header {
  font-family: "KG Primary", "Arial", sans-serif;
  text-transform: lowercase;
  font-size: 75px;
}

#subheader {
  font-family: Arial;
  font-size: 16px;
  text-transform: uppercase;
}

.choices {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  flex: none;
}

#question {
  font-family: Arial;
  text-transform: uppercase;
  font-size: 30px;
}

.polaroid {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: snow;
  width: 23%;
  flex: initial;
  transition: all 2s;
}

.youChose {
  transform: scale(1.2);
  background-color: rgb(245, 186, 170);
  transition: all 2s;
}

.cpuChose {
  transform: scale(1.2);
  background-color: rgb(247, 206, 141);
  transition: all 2s;
}

img {
  display: block;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: auto;
}

.btn {
  background: none;
  border: none;
  padding: 0;
  font-family: Preschooler, "Comic Sans MS", sans-serif;
  font-size: 3.2vw;
  text-transform: uppercase;
  cursor: pointer;
}

.log {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#retry {
  width: 150px;
}


.keeping-track {
  display: flex;
  flex-direction: column;
  font-family: "Arial";
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
}

footer {
  text-align: center;
  text-transform: lowercase;
  background-color: #e4c8ae;
  padding: 4px;
}
